.inputWithIcon input[type='text'],
.inputWithIcon input[type='password'] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 10px;
  padding: 9px 8px;
  color: #aaa;
  font-size: 20px;
  transition: 0.3s;

  background-color: #aaa;
  color: var(--site-white);
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon input[type='text']:focus + i,
.inputWithIcon input[type='password']:focus + i {
  color: var(--site-white);
  background-color: var(--site-pink);
}
