body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[data-bs-theme='darkblue'] {
  --bs-body-color: #fff;
  --bs-body-bg: #0d3674;

  .nav-link {
    --bs-nav-link-color: #fff;
    outline: none;
    border: none;
  }

  .nav-link.active {
    color: #fff;
    border-bottom: 4px solid #bd1ea8;
  }

  .nav-link:hover {
    color: #eee;
  }
}
