.header {
  background-color: #1c1c1c;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.menu {
  padding: 16px 0;
}

.menu_items_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu_item {
  display: inline-block;
  margin-left: 10px;
  text-transform: uppercase;
}

.menu_item:first-child {
  margin-left: 0px;
}

.menu_item_link {
  color: #fff;
  text-decoration: none;
}
